{% extends 'base.html.twig' %}

{% block title %}{{ 'forecast.title'|trans }}{% endblock %}

{% block body %}
    <main>
        <h1>{{ 'forecast.title'|trans }}</h1>
        <p>{{ 'forecast.coordinates'|trans({'%latitude%': latitude, '%longitude%': longitude}) }}</p>
        <p><a href="{{ path('homepage') }}">{{ 'forecast.back'|trans }}</a></p>
    </main>
{% endblock %}
