{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage.meta_title'|trans }}{% endblock %}
{% block meta_description %}{{ 'homepage.meta_description'|trans }}{% endblock %}
{% block canonical_url %}{{ absolute_url(path('homepage')) }}{% endblock %}

{% block body %}
    <main class="home">
        <section class="home__hero">
            <header class="home__intro">
                <h1 class="home__title">{{ 'homepage.title'|trans }}</h1>
                <p class="home__subtitle">{{ 'homepage.subtitle'|trans }}</p>
            </header>

            {{ form_start(form, {attr: {
                class: 'home__form',
                'data-controller': 'auto-submit',
                'data-action': 'change->auto-submit#submit',
            }}) }}
                <div class="home__field">{{ form_row(form.place) }}</div>
                <button type="submit" class="home__submit">{{ 'homepage.submit'|trans }}</button>
            {{ form_end(form) }}
        </section>
    </main>
{% endblock %}
